body {
    margin: 0;
}

#large {
    height: 753px;
    width: 1536px;
    background: #35cd9f;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    height: 500px;
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 3px;
}

#cards {
    width: 910px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    background: #162029;
    height: 356px;
    width: 274px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 28px;
    row-gap: 10px;
}

i {
    color: #35cba1;
    font-size: xxx-large;
}

.text {
    color: #fcfcfc;
    text-align: center;
    margin: 10px 0;
}

img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.name {
    color: #7ac7b4;
    font-size: small;
    margin-bottom: 10px;
}

#title {
    font-size: xxx-large;
    margin-top: 15px;
}

#sub {
    font-size: x-large;
}

